<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.AreaTeacherMapper">

    <select id="selectByAreaTeacher" resultType="com.cnasoft.health.userservice.model.AreaTeacher">
        select s.id,s.user_id,AES_DECRYPT(UNHEX(u.username), #{key}) username
        from area_teacher s
        inner join sys_user u on s.user_id = u.id
        <where>
            s.is_deleted = 0 and u.is_deleted = 0
            and s.area_code = #{areaCode} and u.role_code = #{roleCode}
            <if test="usernames != null and usernames.size() > 0">
                and AES_DECRYPT(UNHEX(u.username), #{key}) in
                <foreach collection="usernames" close=")" item="username" open="(" separator=",">
                    #{username}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectAreaTeacherByUserIds" resultType="com.cnasoft.health.userservice.feign.dto.AreaTeacherRespVO">
        select s.id, s.department, s.post, s.job_number, s.is_accept_task, AES_DECRYPT(UNHEX(u.name), #{key}) name,
        u.sex, u.email, AES_DECRYPT(UNHEX(u.mobile), #{key}) mobile
        from area_teacher s left join sys_user u on s.user_id = u.id
        <where>
            s.is_deleted = 0
            <if test="userIds != null and userIds.size() > 0">
                and user_id in
                <foreach collection="userIds" close=")" item="item" open="(" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findList" resultType="com.cnasoft.health.userservice.model.AreaTeacher">
        select
        t.id,t.user_id,AES_DECRYPT(UNHEX(u.username), #{key}) username,t.department,t.post,t.title,t.major,
        t.specialty,t.job_number,t.is_accept_task,t.certification_file,
        AES_DECRYPT(UNHEX(u.name), #{key}) name,u.sex,AES_DECRYPT(UNHEX(u.mobile), #{key}) mobile,u.email,u.enabled
        from area_teacher t
        left join sys_user u on t.user_id = u.id
        <where>
            t.is_deleted = 0
            <if test="p.number != null">
                and (t.id = #{p.number}
                or AES_DECRYPT(UNHEX(u.mobile), #{key}) like concat(#{p.number}, '%')
                or t.job_number like concat('%', #{p.number}, '%'))
            </if>
            <if test="p.text != null and p.text != ''">
                and LOCATE(#{p.text}, AES_DECRYPT(UNHEX(u.name), #{key})) > 0
            </if>
            <if test="p.enabled != null">
                and u.enabled = #{p.enabled}
            </if>
            <if test="p.areaCode != null">
                and t.area_code = #{p.areaCode}
            </if>
            order by t.id desc
        </where>
    </select>

    <update id="setAcceptTaskForOtherTeacher">
        update area_teacher
        set is_accept_task = 0
        where area_code = #{areaCode}
          and id != #{id}
    </update>

    <select id="getAcceptTaskId" resultType="java.lang.Long">
        select id
        from area_teacher
        where area_code = #{areaCode}
          and is_accept_task = 1
          and is_deleted = 0
    </select>

    <select id="findTaskHandlerIdByAreaCode" resultType="java.lang.Long">
        select user_id
        from area_teacher
        where area_code = #{areaCode}
          and is_accept_task = 1
          and is_deleted = 0 limit 1
    </select>

    <select id="findByUserId" resultType="com.cnasoft.health.userservice.model.AreaTeacher">
        select t.id,
               t.user_id,
               AES_DECRYPT(UNHEX(u.username), #{key}) username,
               u.nickname,
               t.department,
               t.post,
               t.title,
               t.major,
               t.specialty,
               t.job_number,
               t.is_accept_task,
               t.certification_file,
               AES_DECRYPT(UNHEX(u.name), #{key})     name,
               u.sex,
               AES_DECRYPT(UNHEX(u.mobile), #{key})   mobile,
               u.email,
               u.enabled,
               u.head_img_url
        from area_teacher t
                 left join sys_user u on t.user_id = u.id
        where t.is_deleted = 0
          and t.user_id = #{userId}
    </select>

    <select id="selectDropDownList" resultType="java.util.Map">
        select t.user_id as id, convert (AES_DECRYPT(UNHEX(u.name), #{key}) using utf8) as name,
        rc.interval_num, rtc.start_time, rtc.end_time from area_teacher t
        inner join sys_user u on u.id = t.user_id
        inner join reservation_config rc on rc.user_id = t.user_id
        left join reservation_time_config rtc on rtc.config_id = rc.id
        <where>
            t.is_deleted = 0 and t.area_code = #{areaCode} and rtc.start_time is not null
            <if test="date == null">
                and sysdate() <![CDATA[ < ]]> rc.expire_date
            </if>
            <if test="date != null">
                and #{date} <![CDATA[ < ]]> rc.expire_date
            </if>
            <if test="startTime != '' and endTime != ''">
                and rtc.start_time = #{startTime} and rtc.end_time = #{endTime}
            </if>
            <if test="weekDay != null">
                and rtc.week_day = #{weekDay}
            </if>
        </where>
    </select>

    <select id="findAreaTeacherInfo" resultType="com.cnasoft.health.common.dto.AreaTeacherDTO">
        select t.user_id        as userId,
               t.job_number     as jobNumber,
               t.department     as department,
               t.post           as post,
               t.is_accept_task as isAcceptTask
        from area_teacher t
        where t.user_id = #{userId}
          and t.is_deleted = 0
    </select>

    <select id="getAreaPsychoTeacher" resultType="com.cnasoft.health.common.dto.CommonDTO">
        select t.user_id as id, AES_DECRYPT(UNHEX(u.name), #{key}) as name
        from area_teacher t
                 left join sys_user u on u.id = t.user_id
        where t.area_code = #{areaCode}
          and t.is_deleted = 0
    </select>

    <update id="fullData">
        update area_teacher set is_deleted = 0 where id = #{id}
    </update>
</mapper>
