<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.ClazzMapper">
    <sql id="Base_Column_List">
        id
        ,grade,clazz_name,admission_date,is_graduated,create_time,update_time,is_deleted
    </sql>

    <select id="findList" resultType="com.cnasoft.health.userservice.model.Clazz">
        select distinct t.id,t.grade,t.clazz_name,t.admission_date,t.is_graduated
        from clazz t
        left join school_staff_clazz ssc on t.id = ssc.clazz_id
        left join school_staff ss on ss.id = ssc.school_staff_id
        left join sys_user su on su.id = ss.user_id
        <where>
            t.is_deleted = 0
            <if test="p.schoolId != null">
                and t.school_id = #{p.schoolId}
            </if>
            <if test="p.query != null and p.query != ''">
                and (LOCATE(#{p.query}, t.id) > 0
                or LOCATE(#{p.query}, t.admission_date) > 0
                or LOCATE(#{p.query}, AES_DECRYPT(UNHEX(su.name), #{key})) > 0
                )
            </if>
        </where>
        order by id desc
    </select>

    <select id="getListByHeaderTeacher" resultType="com.cnasoft.health.common.dto.ClazzDTO">
        select t.id, t.grade, t.clazz_name
        from clazz t
                 inner join school_staff_clazz ssc on t.id = ssc.clazz_id
                 inner join school_staff ss on ss.id = ssc.school_staff_id
        where t.school_id = #{schoolId}
          and ss.type = 2
          and ss.user_id = #{userId}
    </select>

    <select id="getClazzIdBySchool" resultType="java.lang.Long">
        select t.id, t.grade, t.clazz_name
        from clazz t
        where t.school_id = #{schoolId}
          and is_deleted = 0
    </select>

    <select id="checkHeaderTeacherWithStudent" resultType="java.lang.Boolean">
        select IF(count(0) > 0, TRUE, FALSE)
        from clazz t
                 inner join school_staff_clazz ssc on t.id = ssc.clazz_id
                 inner join school_staff ss on ss.id = ssc.school_staff_id
                 inner join student_base_info b on b.clazz_id = t.id
        where ss.user_id = #{headerTeacherUserId}
          and b.user_id = #{studentUserId}
    </select>

    <select id="getClazzBySchoolIdAndGrade" resultType="java.lang.Long">
        select id from clazz
        where is_deleted = 0 and school_id = #{schoolId}
        <if test="grade != null and grade != ''">
            and grade = #{grade}
        </if>
    </select>
</mapper>
