<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.NewReservationMapper">

    <select id="getStatisticalData" resultType="java.util.Map">
        select year(date) as year, month(date) as month, day(date) as day, count(1) num, status as stat, canceled_by_student
        from new_reservation
        where
            is_deleted = 0
            and psychiatrist_id = #{userId}
            and year(date) = #{year}
            and month(date) = #{month}
            and (status in (0, 1, 2) or (status = 4 and canceled_by_student = 1))
        group by year(date), month(date), day(date), status, canceled_by_student
        order by day(date), stat
    </select>

    <select id="list" resultType="com.cnasoft.health.userservice.model.NewReservation">
        select nr.* from new_reservation nr
            <if test="p.userId != null and p.userId != '' and p.psychiatristName != null and p.psychiatristName != ''">
                inner join sys_user s on s.id = nr.psychiatrist_id
            </if>
            <if test="p.psychiatristId != null and p.psychiatristId != '' and p.userName != null and p.userName != ''">
                inner join sys_user s on s.id = nr.user_id
            </if>
        <where>
            nr.is_deleted = 0
            <if test="p.id != null and p.id != ''">
                and nr.id = #{p.id}
            </if>
            <if test="p.userId != null and p.userId != ''">
                and nr.user_id = #{p.userId}
            </if>
            <if test="p.psychiatristId != null and p.psychiatristId != ''">
                and nr.psychiatrist_id = #{p.psychiatristId}
            </if>
            <if test="p.userName != null and p.userName != ''">
                and AES_DECRYPT(UNHEX(s.name), #{key}) like concat('%',#{p.userName},'%')
            </if>
            <if test="p.psychiatristName != null and p.psychiatristName != ''">
                and AES_DECRYPT(UNHEX(s.name), #{key}) like concat('%',#{p.psychiatristName},'%')
            </if>
            <if test="p.userRoleType != null and p.userRoleType != ''">
                and nr.user_role_type = #{p.userRoleType}
            </if>
            <if test="p.status != null and p.status > -1">
                and nr.status = #{p.status}
            </if>
            <if test="p.date != null">
                and nr.date = #{p.date}
            </if>
            order by nr.status, nr.date desc
        </where>
    </select>

    <update id="fullData">
        update new_reservation set is_deleted = 0 where id = #{id}
    </update>
</mapper>
