<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.SmartConsultQuestionMapper">

    <resultMap id="questionMap" type="com.cnasoft.health.userservice.feign.dto.SmartConsultQuestionResVO">
        <id column="type" property="type"/>

        <collection property="questionInfos" javaType="list"
                    ofType="com.cnasoft.health.userservice.feign.dto.SmartConsultQuestionDTO">
            <id column="id" property="id"/>
            <result property="sort" column="sort"/>
            <result property="question" column="question"/>
            <!--<result property="answer" column="answer"/>-->

        </collection>
    </resultMap>

    <select id="findList" resultMap="questionMap">
        SELECT
            type,
            IF( sub_type IS NULL, id, NULL ) AS id,
            IF( sub_type IS NULL, sort, NULL ) AS sort,
            IF( sub_type IS NULL, question, NULL ) AS question<!--,
            IF( sub_type IS NULL, answer, NULL ) AS answer-->
    FROM
        smart_consult_question
        order by type,sub_type,sort
</select>

<select id="findSubList" resultMap="questionMap">
    SELECT
        id,
        sub_type type,
        sort,
        question<!--,
        answer-->
    FROM
        smart_consult_question
    WHERE
        type = #{type}
    order by sub_type,sort
</select>

</mapper>
