<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.StudentAdditionalInfoMapper">
    <insert id="insertBatch" parameterType="java.util.List" keyColumn="id" keyProperty="list.id"
            useGeneratedKeys="true">
        INSERT INTO student_additional_info (student_id, country, nation, gatqw, politics_status,
        native_place, birth_place, family_sort, blood_type,healthy_status, illness_history, is_orphan, is_left, is_only,
        disability_type, is_child_of_martyr_entitled, is_child_of_migrant,is_subsidized, height, weight,
        special_condition, create_by,create_time, update_by, update_time, is_deleted) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.studentId},#{item.country},#{item.nation},#{item.gatqw},#{item.politicsStatus},
            HEX(AES_ENCRYPT(#{item.nativePlace}, #{key})),HEX(AES_ENCRYPT(#{item.birthPlace}, #{key})),
            #{item.familySort},#{item.bloodType},#{item.healthyStatus},#{item.illnessHistory},#{item.isOrphan},
            #{item.isLeft},#{item.isOnly},#{item.disabilityType},#{item.isChildOfMartyrEntitled},
            #{item.isChildOfMigrant},#{item.isSubsidized},HEX(AES_ENCRYPT(#{item.height}, #{key})),
            HEX(AES_ENCRYPT(#{item.weight}, #{key})),#{item.specialCondition},
            #{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.isDeleted})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        update student_additional_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="student_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.studentId != null">
                        when id=#{item.id} then #{item.studentId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="country =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.country != null">
                        when id=#{item.id} then #{item.country}
                    </if>
                    <if test="item.country == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="nation =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nation != null and item.nation != ''">
                        when id=#{item.id} then #{item.nation}
                    </if>
                    <if test="item.nation == null or item.nation == ''">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="gatqw =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.gatqw != null">
                        when id=#{item.id} then #{item.gatqw}
                    </if>
                    <if test="item.gatqw == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="politics_status =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.politicsStatus != null">
                        when id=#{item.id} then #{item.politicsStatus}
                    </if>
                    <if test="item.politicsStatus == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="native_place =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nativePlace != null and item.nativePlace != ''">
                        when id=#{item.id} then HEX(AES_ENCRYPT(#{item.nativePlace}, #{key}))
                    </if>
                    <if test="item.nativePlace == null or item.nativePlace == ''">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="birth_place =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.birthPlace != null and item.birthPlace != ''">
                        when id=#{item.id} then HEX(AES_ENCRYPT(#{item.birthPlace}, #{key}))
                    </if>
                    <if test="item.birthPlace == null or item.birthPlace == ''">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="family_sort =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.familySort != null">
                        when id=#{item.id} then #{item.familySort}
                    </if>
                    <if test="item.familySort == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="blood_type =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.bloodType != null">
                        when id=#{item.id} then #{item.bloodType}
                    </if>
                    <if test="item.bloodType == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="healthy_status =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.healthyStatus != null">
                        when id=#{item.id} then #{item.healthyStatus}
                    </if>
                    <if test="item.healthyStatus == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="illness_history =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.illnessHistory != null and item.illnessHistory != ''">
                        when id=#{item.id} then #{item.illnessHistory}
                    </if>
                    <if test="item.illnessHistory == null or item.illnessHistory == ''">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_orphan =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isOrphan != null">
                        when id=#{item.id} then #{item.isOrphan}
                    </if>
                    <if test="item.isOrphan == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_left =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isLeft != null">
                        when id=#{item.id} then #{item.isLeft}
                    </if>
                    <if test="item.isLeft == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_only =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isOnly != null">
                        when id=#{item.id} then #{item.isOnly}
                    </if>
                    <if test="item.isOnly == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="disability_type =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.disabilityType != null">
                        when id=#{item.id} then #{item.disabilityType}
                    </if>
                    <if test="item.disabilityType == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_child_of_martyr_entitled =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isChildOfMartyrEntitled != null">
                        when id=#{item.id} then #{item.isChildOfMartyrEntitled}
                    </if>
                    <if test="item.isChildOfMartyrEntitled == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_child_of_migrant =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isChildOfMigrant != null">
                        when id=#{item.id} then #{item.isChildOfMigrant}
                    </if>
                    <if test="item.isChildOfMigrant == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="is_subsidized =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.isSubsidized != null">
                        when id=#{item.id} then #{item.isSubsidized}
                    </if>
                    <if test="item.isSubsidized == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="height =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.height != null and item.height != ''">
                        when id=#{item.id} then HEX(AES_ENCRYPT(#{item.height}, #{key}))
                    </if>
                    <if test="item.height == null or item.height == ''">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="weight =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.weight != null and item.weight != ''">
                        when id=#{item.id} then HEX(AES_ENCRYPT(#{item.weight}, #{key}))
                    </if>
                    <if test="item.weight == null or item.weight == ''">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
            <trim prefix="special_condition =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.specialCondition != null">
                        when id=#{item.id} then #{item.specialCondition}
                    </if>
                    <if test="item.specialCondition == null">
                        when id=#{item.id} then null
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>
