<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.StudentFamilyConditionMapper">

    <resultMap id="BaseResultMap" type="com.cnasoft.health.userservice.model.StudentFamilyCondition">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentId" column="student_id" jdbcType="BIGINT"/>
            <result property="familyCondition" column="family_condition" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,family_condition
    </sql>
    <insert id="saveBatch">
        INSERT INTO `student_family_condition` (`student_id`, `family_condition`, `create_by`, `create_time`, `update_by`, `update_time`, `is_deleted`) VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.studentId}, #{item.familyCondition}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.isDeleted})
        </foreach>
    </insert>
</mapper>
