<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.SysAreaMapper">
    <sql id="Column_List">

    </sql>

    <select id="getAreaList" resultType="com.cnasoft.health.common.dto.SysAreaDTO">
        select s.id,s.type,s.code,s.name,s.enabled,IFNULL(a.approve_status,s.approve_status) as approve_status,
        a.approve_remark as remark
        from sys_area s left join (
        select business_id,approve_status,approve_remark from approve where id in (
        select substring_index(group_concat(id order by id desc),",",1) as id from approve
        where approve_type = ${@com.cnasoft.health.common.enums.ApproveType@AREA.code} group by business_id
        )
        ) a on a.business_id = s.id
        <where>
            s.is_deleted = 0 and s.enabled = 1
            <if test="p != null and p.type != null">
                and s.type = #{p.type}
            </if>
            <if test="p != null and p.code != null and p.code != ''">
                and s.code like concat(#{p.code}, '%')
            </if>
            <if test="p != null and p.name != null and p.name != ''">
                and s.name like concat(#{p.name}, '%')
            </if>
            <if test="p != null and p.approveStatus != null and p.approveStatus > -1">
                and a.approve_status = #{p.approveStatus}
            </if>
            <if test="p != null and p.query != null and p.query != ''">
                and LOCATE(#{p.query}, s.name) > 0
            </if>
        </where>
        order by s.code
    </select>

    <select id="selectLastUpdateTime" resultType="java.util.Date">
        select MAX(update_time)
        from sys_area
    </select>

    <select id="selectByCode" resultType="com.cnasoft.health.userservice.model.SysArea">
        select *
        from sys_area
        where code = #{code} limit 1
    </select>

    <select id="getApproveAreaId" resultType="java.lang.Long">
        SELECT DISTINCT s.id
        FROM sys_area s
                 INNER JOIN approve on approve.approve_type = 3 and approve.business_id = s.id
                 LEFT JOIN sys_area p on p.type = 0 and substr(s.code, 1, 2) = substr(p.code, 1, 2)
                 LEFT JOIN sys_area c on c.type = 1 and substr(s.code, 1, 4) = substr(c.code, 1, 4)

        WHERE (s.`name` like concat('%', #{keyword}, '%')
            or p.`name` like concat('%', #{keyword}, '%')
            or c.`name` like concat('%', #{keyword}, '%'))

    </select>

    <delete id="deleteById">
        update sys_area
        set is_deleted  = 1,
            update_time = now()
        where id = #{id}
    </delete>

    <select id="getAreaIdByProvince" resultType="java.lang.Long">
        select id
        from sys_area
        where is_deleted = 0
          and code like concat(#{code}, '%')
    </select>

    <select id="getAreaIdByCity" resultType="java.lang.Long">
        select id
        from sys_area
        where is_deleted = 0
          and code like concat(#{code}, '%')
    </select>
</mapper>
