<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.SysRoleMapper">

    <sql id="where">
        <where>
            t.is_deleted = 0
            <if test="param.code != null and param.code != ''">
                and (LOCATE(#{param.code}, t.code) > 0 or LOCATE(#{param.code}, t.name) > 0)
            </if>
            <if test="param.enabled != null">
                and t.enabled = #{param.enabled}
            </if>
            <if test="param.createDate != null">
                and DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s') <![CDATA[ >= ]]>
                #{param.createDate, jdbcType=TIMESTAMP}
            </if>
            <if test="param.approveStatus != null">
                and a.approve_status = #{param.approveStatus}
            </if>
        </where>
    </sql>

    <select id="findList" resultType="com.cnasoft.health.userservice.model.SysRole">
        select t.id,t.code,t.name,t.tenant_id,t.preset,t.enabled,t.create_time,
        IFNULL(a.approve_status,t.approve_status) as approve_status,a.approve_remark as remark from sys_role t
        left join (
        select business_id,approve_status,approve_remark from approve where id in
        (select substring_index(group_concat(id order by id desc),",",1) as id from approve
        where approve_type = ${@com.cnasoft.health.common.enums.ApproveType@ROLE.code} group by business_id)
        ) a on a.business_id = t.id
        <include refid="where"/>
        order by t.create_time desc
    </select>

    <select id="getApproveAreaId" resultType="java.lang.Long">
        select distinct r.id
        from sys_role r
                 INNER JOIN approve on approve.approve_type = 2 and approve.business_id = r.id
        where r.name like concat('%', #{keyword}, '%')
    </select>

    <select id="findById" resultType="com.cnasoft.health.userservice.model.SysRole">
        select *
        from sys_role
        where id = #{id}
    </select>
</mapper>
