<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.SysRoleAuthorityMapper">

	<select id="findAuthoritiesByRoleId" resultType="java.lang.String">
		select distinct t.code from sys_authority t
		inner join sys_role_authority r on r.authority_id = t.id
		where t.is_deleted = 0 and r.is_deleted = 0 and t.enabled = 1 and r.role_id = #{roleId}
	</select>

	<select id="findAuthoritiesByRoleIds" resultType="com.cnasoft.health.userservice.model.SysAuthority">
		select distinct t.*,r.role_id from sys_authority t
		inner join sys_role_authority r on r.authority_id = t.id
		where t.is_deleted = 0 and r.is_deleted = 0 and t.enabled = 1 and r.role_id in
		<foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
			#{roleId}
		</foreach>
	</select>

    <select id="findAuthoritiesByRoleCodes" resultType="com.cnasoft.health.userservice.model.SysAuthority">
		select distinct t.*,r.role_id from sys_authority t
		inner join sys_role_authority r on r.authority_id = t.id
		inner join sys_role rl on rl.id = r.role_id
		where t.is_deleted = 0 and r.is_deleted = 0 and rl.is_deleted = 0 and t.enabled = 1 and rl.code in
		<foreach collection="roleCodes" index="index" item="roleCode" open="(" separator="," close=")">
			#{roleCode}
		</foreach>
	</select>

	<select id="findAllAuthorities" resultType="com.cnasoft.health.userservice.model.SysAuthority">
		select t.*,r.role_id from sys_authority t
		inner join sys_role_authority r on r.authority_id = t.id
		<where>
			t.is_deleted = 0 and r.is_deleted = 0 and t.enabled = 1
			<if test="roleIds != null and roleIds.size() > 0">
				and r.role_id in
				<foreach collection="roleIds"  item="roleId" open="(" close=")" separator=",">
					#{roleId}
				</foreach>
			</if>
		</where>
	</select>

	<select id="findRoleIdByAuthorityId" resultType="java.lang.Long">
		select distinct r.code from sys_role r
		inner join sys_role_authority a on a.role_id = r.id
		where r.is_deleted = 0 and a.is_deleted = 0 and r.enabled = 1 and a.authority_id = #{authorityId}
	</select>

	<select id="findAuthIdByRoleId" resultType="java.lang.Long">
		select distinct r.authority_id  from sys_authority t
		inner join sys_role_authority r on r.authority_id = t.id
		where t.is_deleted = 0 and r.is_deleted = 0 and t.enabled = 1 and r.role_id = #{roleId}
	</select>
</mapper>
