<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.TestManagerMapper">

    <select id="findSchoolList" resultType="com.cnasoft.health.common.dto.SchoolDTO">
        select s.id,s.name,s.area_code from test_manager t inner join school s on s.id = t.school_id
        where t.user_id = #{userId} and t.is_deleted = 0
        <if test="approveStatus != null">
            and t.approve_status = #{approveStatus}
        </if>
    </select>
</mapper>
