<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnasoft.health.userservice.mapper.UserDynamicMapper">

    <sql id="Base_Column_List">
        id
        , user_id, content, sleep_time, getup_time, sleep_minute, height, weight, nap, nap_minute, sort, is_warn,
        warn_grade, warn_words, deal_result, deal_description, is_deleted, create_time, create_by, update_time, update_by
    </sql>

    <select id="selectUserDynamicList" resultType="com.cnasoft.health.userservice.feign.dto.UserDynamicDTO">
        select id
        , user_id
        , user_nick_name
        , content
        , sleep_time
        , getup_time
        , sleep_minute
        , height
        , weight
        , nap
        , sort
        , mood
        , nap_minute
        , is_deleted
        , create_time
        , create_by
        , update_time
        , update_by
        from user_dynamic
        <where>
            is_deleted = 0 and user_id=#{params.userId}
        </where>
        order by sort desc,create_time desc
    </select>
    <delete id="deleteDynamic">
        update user_dynamic
        set is_deleted=1
        where id = #{dynamicId}
    </delete>
    <!--重新置顶-->
    <delete id="updateSort">
        update user_dynamic
        set sort=#{sort}
        where id = #{dynamicId}
    </delete>
    <!-- 还原置顶-->
    <delete id="updateResetSort">
        update user_dynamic
        set sort = 0
        where user_id = #{userId} and sort = 1
    </delete>

    <select id="getStudentDynamicWarning"
            resultType="com.cnasoft.health.userservice.feign.dto.DynamicWarningRespVO">
        select d.id, d.user_id, d.warn_grade, d.warn_words, d.create_time, d.deal_result,d.deal_description, s.sex,
        AES_DECRYPT(UNHEX(s.`name`), #{key}) `name`,
        data.dict_name grade, c.clazz_name clazz
        from user_dynamic d left join student_base_info s on d.user_id = s.user_id
        left join sys_dict_data data on s.grade = data.dict_value
        left join clazz c on s.clazz_id = c.id
        <where>
            s.school_id = #{param.schoolId}
            and d.is_warn = 1
        </where>
        order by d.id desc
    </select>
    <select id="getParentDynamicWarning"
            resultType="com.cnasoft.health.userservice.feign.dto.DynamicWarningRespVO">
        select d.id, d.user_id, d.warn_grade, d.warn_words, d.create_time, d.deal_result,d.deal_description, p.sex,
        AES_DECRYPT(UNHEX(p.`name`), #{key}) `name`
        from user_dynamic d left join parent p on p.user_id = d.user_id
        <where>
            p.school_id = #{param.schoolId}
            and d.is_warn = 1
        </where>
        order by d.id desc
    </select>

    <select id="getTeacherDynamicWarning" resultType="com.cnasoft.health.userservice.feign.dto.DynamicWarningRespVO">
        SELECT d.id,
               d.user_id,
               d.warn_grade,
               d.warn_words,
               d.create_time,
               d.deal_result,d.deal_description,
               AES_DECRYPT(UNHEX(u.`name`), #{key}) as `name`,
               u.sex,
               dict.dict_name                          department,
               s.post
        FROM user_dynamic d
                 LEFT JOIN school_staff s ON s.user_id = d.user_id
                 LEFT JOIN sys_user u on d.user_id = u.id
                 LEFT JOIN sys_dict_data dict ON s.department = dict.dict_value
        WHERE s.school_id = #{param.schoolId}
          and d.is_warn = 1

        UNION ALL

        SELECT d.id,
               d.user_id,
               d.warn_grade,
               d.warn_words,
               d.create_time,
               d.deal_result,d.deal_description,
               AES_DECRYPT(UNHEX(u.`name`), #{key}) as `name`,
               u.sex,
               dict.dict_name                          department,
               null                                    post
        FROM user_dynamic d
                 LEFT JOIN school_teacher t ON t.user_id = d.user_id
                 LEFT JOIN sys_user u on d.user_id = u.id
                 LEFT JOIN sys_dict_data dict ON t.department = dict.dict_value
        WHERE t.school_id = #{param.schoolId}
          and d.is_warn = 1

        ORDER BY id DESC
    </select>
    <select id="selectDynamicById" resultType="com.cnasoft.health.userservice.model.UserDynamic">
        select ud.*
        from user_dynamic ud
        left join sys_user su on ud.user_id = su.id
        <where>
            ud.id = #{id}
            <if test="schoolId != null">
                and su.school_id = #{schoolId}
            </if>
            <if test="areaCode != null">
                and su.area_code = #{areaCode}
            </if>
        </where>
    </select>
    <select id="getAreaDynamicWarning"
            resultType="com.cnasoft.health.userservice.feign.dto.DynamicWarningRespVO">
        SELECT d.id,
               d.user_id,
               d.warn_grade,
               d.warn_words,
               d.create_time,
               d.deal_result,d.deal_description,
               AES_DECRYPT(UNHEX(u.`name`), #{key}) as `name`,
               u.sex,
               s.department                          department,
               s.post
        FROM user_dynamic d
                 LEFT JOIN area_staff s ON s.user_id = d.user_id
                 LEFT JOIN sys_user u on d.user_id = u.id
        WHERE s.area_code = #{param.areaCode}
          and d.is_warn = 1

        UNION ALL

        SELECT d.id,
               d.user_id,
               d.warn_grade,
               d.warn_words,
               d.create_time,
               d.deal_result,d.deal_description,
               AES_DECRYPT(UNHEX(u.`name`), #{key}) as `name`,
               u.sex,
               t.department                          department,
               t.post                                    post
        FROM user_dynamic d
                 LEFT JOIN area_teacher t ON t.user_id = d.user_id
                 LEFT JOIN sys_user u on d.user_id = u.id
        WHERE t.area_code = #{param.areaCode}
          and d.is_warn = 1

        ORDER BY id DESC
    </select>
    <select id="selectUserDynamic" resultType="com.cnasoft.health.userservice.model.UserDynamic">
        select * from user_dynamic where id = #{id}
    </select>

    <update id="fullData">
        update user_dynamic set is_deleted = 0 where id = #{id}
    </update>
</mapper>
